<img src="<%= base_image %><%= app.file_name %>.png" alt="<%= app.name %>" width="80" heigth="80">
<%= app.name %>
<% if (user_apps) { %>
	<a href="#" class="install" data-url="/uninstall">UnInstall</a>	
<% } else { %>
	<a href="#" class="install" data-url="/install">Install</a>
<% } %>